<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>게시물 관리</title>
    <link rel="stylesheet" href="../adminCss/post.css">
</head>

<body>
    <div id="scale">
        <div class="left-side">

            <a href="/managerUI/admin/userList.html" class="text-border">
                <button class="userList">
                    <div class="userimg"><img src="../img/user-nonecolor.png" alt=""></div>
                    <div>회원관리</div>
                </button>
            </a>

            <a href="/managerUI/admin/post.html" class="text-border">
                <button class="postList">
                    <div class="userimg2"><img src="../img/menu-colorbar.png" alt=""></div>
                    <div>게시물 관리</div>
                </button>
            </a>

            <a href="/managerUI/admin/category.html" class="text-border">
                <button class="categoryList">
                    <div class="userimg3"><img src="../img/blogging.png" alt=""></div>
                    <div>카테고리 리스트</div>
                </button>
            </a>
        </div>
        <div class="top-right">
            <div class="right-side">
                <div class="right-Title">
                    <p class="right-Title1">게시물 관리</p>
                    <p class="right-Title2">게시물은 상품순으로 정렬됩니다.</p>
                </div>
                <div class="category-search-area">
                    <p class="search-text">종류 검색</p>
                    <div class="search-input-group">
                        <input type="text" placeholder="제품명 입력" class="category-search-input">
                        <button class="search">검색</button>
                    </div>
                </div>
                <div class="button-tap">
                    <div class="startsearch">
                        <button class="starline">초기화</button>
                    </div>
                    <button class="add-category">제품 추가</button>
                </div>
            </div>

<table class="category-data-table">
    <thead>
        <tr>
            <th>수량</th>
            <th>상품명</th>
            <th>분류</th>
            <th>등록일</th>
            <th>관리</th>
        </tr>
    </thead>
    <tbody>
        </tbody>
</table>
        </div>
    </div>
    <script src="../adminJs/post.js"></script>
</body>

</html>