<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>QWER</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/commen.css" />
    <link rel="stylesheet" href="../css/search/searchResult.css" />
  </head>
  <body>
    <div id="header"></div>
    <div class="container">
        
        <h1>"<span id="searchName"></span>" 검색 결과입니다.</h1>


          <div class="filter-bar">
        <div class="item-count">
          <span id="total-items">0 Item</span>
        </div>
        <div class="sort-container">
          <button class="sort-button">
            <span id="sort-text">정렬 기준</span>
            <span class="arrow">▼</span>
          </button>
          <div class="sort-dropdown">
            <a href="#" data-sort="popular">인기순</a>
            <a href="#" data-sort="price_desc">높은가격순</a>
            <a href="#" data-sort="price_asc">낮은가격순</a>
          </div>
        </div>
      </div>

      <main id="product-grid" class="product-grid"></main>

      <nav class="pagination-container">
        <ul id="pagination" class="pagination"></ul>
      </nav>
    </div>
        
    </div>
    <div id="footer"></div>
    <script src="../js/search/searchResult.js"></script>
    <script src="../js/common.js"></script>
</body>

</html>
