<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="LOG4J2"/>
    </settings>

    <typeAliases>
        <typeAlias alias="memberDto" type="com.example.qwershop.user.member.dto.MemberDto" />
        <typeAlias alias="mainItemDto" type="com.example.qwershop.user.main.dto.MainItemDto" />
        <typeAlias alias="detailDto" type="com.example.qwershop.user.detail.dto.DetailDto" />
        <typeAlias alias="groupDto" type="com.example.qwershop.user.detail.dto.GroupDto" />
        <typeAlias alias="cartDetailDto" type="com.example.qwershop.user.cart.dto.CartDetailDto" />
        <typeAlias alias="cartDto" type="com.example.qwershop.user.cart.dto.CartDto" />
        <typeAlias alias="orderHistDto" type="com.example.qwershop.user.order.dto.OrderHistDto" />
        <typeAlias alias="ordersDto" type="com.example.qwershop.user.order.dto.OrdersDto" />
        <typeAlias alias="orderItemHistDto" type="com.example.qwershop.user.order.dto.OrderItemHistDto" />
        <typeAlias alias="selectUserDto" type="com.example.qwershop.admin.usermanagement.dto.SelectUsersDto" />
        <typeAlias alias="orderListDto" type="com.example.qwershop.admin.orderManagement.dto.OrderListDto" />
        <typeAlias alias="orderDetailDto" type="com.example.qwershop.admin.orderManagement.dto.OrderDetailDto" />
        <typeAlias alias="orderItemDto" type="com.example.qwershop.admin.orderManagement.dto.OrderItemDto" />
        <typeAlias alias="groupCodeDto" type="com.example.qwershop.admin.codeManagement.dto.GroupCodeDto" />
        <typeAlias alias="DetailCodeDto" type="com.example.qwershop.admin.codeManagement.dto.DetailCodeDto" />

    </typeAliases>
</configuration>