<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="LOG4J2"/>
    </settings>

    <typeAliases>
        <typeAlias alias="memberDto" type="com.example.qwershop.user.member.dto.MemberDto" />
        <typeAlias alias="mainItemDto" type="com.example.qwershop.user.main.dto.MainItemDto" />
        <typeAlias alias="detailDto" type="com.example.qwershop.user.detail.dto.DetailDto" />
        <typeAlias alias="groupDto" type="com.example.qwershop.user.detail.dto.GroupDto" />
        <typeAlias alias="cartDetailDto" type="com.example.qwershop.user.cart.dto.CartDetailDto" />
        <typeAlias alias="cartDto" type="com.example.qwershop.user.cart.dto.CartDto" />
        <typeAlias alias="selectUserDto" type="com.example.qwershop.admin.usermanagement.dto.SelectUsersDto" />

    </typeAliases>
</configuration>