@charset "utf-8";

/* body태그등 기본으로 들어가있는 스타일을 리셋 */

*{
    margin: 0;
    padding: 0;
}
ol, ul, li{
    list-style: none;
}
a{
    text-decoration: none;
}
img, input{
    vertical-align: top;
}
button{
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
img{
    object-fit: cover;
}