<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div id="header" th:fragment="header">
  <div id="header-top">
    <h1 class="title"><a th:href="@{/}" id="title">QWER</a></h1>
  </div>

  <div id="header-mid">
    <div class="midLeft">
      <ul id="category">
        <li><a th:href="@{/itemList(type=16)}">New</a></li>
        <li><a th:href="@{/itemList(type=17)}">Best</a></li>
        <li>
          <a th:href="@{/itemList(types=18,types=19,types=20,types=21,types=22,
          types=23,types=24,types=25,types=26,types=27,
          types=28,types=29,types=30,types=31,types=32,
          types=33,types=34,types=35,types=36)}">Men</a>
          <ul class="subMenuTitle">
            <li>
              <a th:href="@{/itemList(types=18,types=19,types=20,types=21,types=22)}">상의</a>
              <ul class="sub-menu">
                <li><a th:href="@{/itemList(type=18)}">반팔</a></li>
                <li><a th:href="@{/itemList(type=19)}">긴팔</a></li>
                <li><a th:href="@{/itemList(type=20)}">맨투맨</a></li>
                <li><a th:href="@{/itemList(type=21)}">니트</a></li>
                <li><a th:href="@{/itemList(type=22)}">아우터</a></li>
              </ul>
            </li>
            <li>
              <a th:href="@{/itemList(types=23,types=24,types=25,types=26,types=27)}">하의</a>
              <ul class="sub-menu">
                <li><a th:href="@{/itemList(type=23)}">반바지</a></li>
                <li><a th:href="@{/itemList(type=24)}">슬랙스</a></li>
                <li><a th:href="@{/itemList(type=25)}">청바지</a></li>
                <li><a th:href="@{/itemList(type=26)}">면바지</a></li>
                <li><a th:href="@{/itemList(type=27)}">트랙팬츠</a></li>
              </ul>
            </li>
            <li>
              <a th:href="@{/itemList(types=28,types=29,types=30,types=31,types=32)}">신발</a>
              <ul class="sub-menu">
                <li><a th:href="@{/itemList(type=28)}">러닝화</a></li>
                <li><a th:href="@{/itemList(type=29)}">스니커즈</a></li>
                <li><a th:href="@{/itemList(type=30)}">구두</a></li>
                <li><a th:href="@{/itemList(type=31)}">샌들</a></li>
                <li><a th:href="@{/itemList(type=32)}">슬리퍼</a></li>
              </ul>
            </li>
            <li>
              <a th:href="@{/itemList(types=33,types=34,types=35,types=36)}">그 외</a>
              <ul class="sub-menu">
                <li><a th:href="@{/itemList(type=33)}">양말</a></li>
                <li><a th:href="@{/itemList(type=34)}">가방</a></li>
                <li><a th:href="@{/itemList(type=35)}">악세사리</a></li>
                <li><a th:href="@{/itemList(type=36)}">모자</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a th:href="@{/itemList(types=37,types=38,types=39,types=40,types=41,
          types=42,types=43,types=44,types=45,types=46,
          types=47,types=48,types=49,types=50,types=51,
          types=52,types=53,types=54,types=55)}">Women</a>
          <ul class="subMenuTitle">
            <li>
              <a th:href="@{/itemList(types=37,types=38,types=39,types=40,types=41)}">상의</a>
              <ul class="sub-menu">
                <li><a th:href="@{/itemList(type=37)}">반팔</a></li>
                <li><a th:href="@{/itemList(type=38)}">긴팔</a></li>
                <li><a th:href="@{/itemList(type=39)}">맨투맨</a></li>
                <li><a th:href="@{/itemList(type=40)}">니트</a></li>
                <li><a th:href="@{/itemList(type=41)}">아우터</a></li>
              </ul>
            </li>
            <li>
              <a th:href="@{/itemList(types=42,types=43,types=44,types=45,types=46)}">하의</a>
              <ul class="sub-menu">
                <li><a th:href="@{/itemList(type=42)}">반바지</a></li>
                <li><a th:href="@{/itemList(type=43)}">슬랙스</a></li>
                <li><a th:href="@{/itemList(type=44)}">청바지</a></li>
                <li><a th:href="@{/itemList(type=45)}">면바지</a></li>
                <li><a th:href="@{/itemList(type=46)}">트랙팬츠</a></li>
              </ul>
            </li>
            <li>
              <a th:href="@{/itemList(types=47,types=48,types=49,types=50,types=51)}">신발</a>
              <ul class="sub-menu">
                <li><a th:href="@{/itemList(type=47)}">러닝화</a></li>
                <li><a th:href="@{/itemList(type=48)}">스니커즈</a></li>
                <li><a th:href="@{/itemList(type=49)}">구두</a></li>
                <li><a th:href="@{/itemList(type=50)}">샌들</a></li>
                <li><a th:href="@{/itemList(type=51)}">슬리퍼</a></li>
              </ul>
            </li>
            <li>
              <a th:href="@{/itemList(types=52,types=53,types=54,types=55)}">그 외</a>
              <ul class="sub-menu">
                <li><a th:href="@{/itemList(type=52)}">양말</a></li>
                <li><a th:href="@{/itemList(type=53)}">가방</a></li>
                <li><a th:href="@{/itemList(type=54)}">악세사리</a></li>
                <li><a th:href="@{/itemList(type=55)}">모자</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a th:href="@{/itemList(types=56,types=57,types=58,types=59,types=60,
          types=61,types=62,types=63,types=64,types=65,
          types=66,types=67,types=68,types=69,types=70,
          types=71,types=72,types=73,types=74)}">Kids</a>
          <ul class="subMenuTitle">
            <li>
              <a th:href="@{/itemList(types=56,types=57,types=58,types=59,types=60)}">상의</a>
              <ul class="sub-menu">
                <li><a th:href="@{/itemList(type=56)}">반팔</a></li>
                <li><a th:href="@{/itemList(type=57)}">긴팔</a></li>
                <li><a th:href="@{/itemList(type=58)}">맨투맨</a></li>
                <li><a th:href="@{/itemList(type=59)}">니트</a></li>
                <li><a th:href="@{/itemList(type=60)}">아우터</a></li>
              </ul>
            </li>
            <li>
              <a th:href="@{/itemList(types=61,types=62,types=63,types=64,types=65)}">하의</a>
              <ul class="sub-menu">
                <li><a th:href="@{/itemList(type=61)}">반바지</a></li>
                <li><a th:href="@{/itemList(type=62)}">슬랙스</a></li>
                <li><a th:href="@{/itemList(type=63)}">청바지</a></li>
                <li><a th:href="@{/itemList(type=64)}">면바지</a></li>
                <li><a th:href="@{/itemList(type=65)}">트랙팬츠</a></li>
              </ul>
            </li>
            <li>
              <a th:href="@{/itemList(types=66,types=67,types=68,types=69,types=70)}">신발</a>
              <ul class="sub-menu">
                <li><a th:href="@{/itemList(type=66)}">러닝화</a></li>
                <li><a th:href="@{/itemList(type=67)}">스니커즈</a></li>
                <li><a th:href="@{/itemList(type=68)}">구두</a></li>
                <li><a th:href="@{/itemList(type=69)}">샌들</a></li>
                <li><a th:href="@{/itemList(type=70)}">슬리퍼</a></li>
              </ul>
            </li>
            <li>
              <a th:href="@{/itemList(types=71,types=72,types=73,types=74)}">그 외</a>
              <ul class="sub-menu">
                <li><a th:href="@{/itemList(type=71)}">양말</a></li>
                <li><a th:href="@{/itemList(type=72)}">가방</a></li>
                <li><a th:href="@{/itemList(type=73)}">악세사리</a></li>
                <li><a th:href="@{/itemList(type=74)}">모자</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
          <a th:href="@{/admin/userList}">관리자 페이지 이동</a>
        </li>
      </ul>
    </div>
    <div class="midRight">
      <ul id="icons">
        <th:block th:if="${#authorization.expression('isAnonymous()')}">
          <li class="login"><a th:href="@{/user/login}">로그인</a></li>
          <li class="signUp"><a th:href="@{/signUp}">회원가입</a></li>
        </th:block>

        <th:block th:if="${#authorization.expression('isAuthenticated()')}">
          <li class="mypage-container" style="position: relative; display: inline-block;">
            <a href="javascript:void(0);" class="mypage-link" th:text="${#authentication.name} + '님 ▼'">마이페이지</a>
            <ul class="mypage-dropdown">
              <li><a th:href="@{/userUpdate}">내 정보 수정</a></li>
              <li><a th:href="@{/orderList}">주문 내역</a></li>
              <li><a th:href="@{/cart}">장바구니</a></li>
            </ul>
          </li>
          <li class="logout">
            <a href="javascript:void(0);" onclick="document.getElementById('logout-form').submit();">로그아웃</a>
            <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;"></form>
          </li>
        </th:block>
      </ul>
      <button id="searchBtn">검색</button>
    </div>
  </div>
  <div id="searchResult">
    <div id="srTop">
      <div id="searchDiv">
        <p><button id="srBtn">돋보기</button></p>
        <input type="text" name="search" id="search" />
        <button id="clear">지우기</button>
      </div>
    </div>
    <div id="srMid">
      <p>인기 검색어</p>
      <ul>
        <li><button>상품1</button></li>
        <li><button>상품12</button></li>
        <li><button>상품123</button></li>
        <li><button>상품1234</button></li>
        <li><button>상품12345</button></li>
      </ul>
    </div>
  </div>
</div>
</html>
