<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div id="header" th:fragment="header">
  <div id="header-top">
    <h1 class="title"><a th:href="@{/main}" id="title">QWER</a></h1>
  </div>
  <div id="header-mid">
    <div class="midLeft">
      <ul id="category">
        <li><a th:href="@{/itemList(type=1)}">New</a></li>
        <li><a th:href="@{/itemList(type=2)}">Best</a></li>
        <li>
          <a th:href="@{/itemList(type=60)}">Men</a>
          <ul class="subMenuTitle">
            <li>
              <a th:href="@{/itemList(type=61)}">상의</a>
              <ul class="sub-menu">
                <li><a th:href="@{/itemList(type=3)}">반팔</a></li>
                <li><a th:href="@{/itemList(type=4)}">긴팔</a></li>
                <li><a th:href="@{/itemList(type=5)}">맨투맨</a></li>
                <li><a th:href="@{/itemList(type=6)}">니트</a></li>
                <li><a th:href="@{/itemList(type=7)}">아우터</a></li>
              </ul>
            </li>
            <li>
              <a th:href="@{/itemList(type=62)}">하의</a>
              <ul class="sub-menu">
                <li><a th:href="@{/itemList(type=8)}">반바지</a></li>
                <li><a th:href="@{/itemList(type=9)}">슬랙스</a></li>
                <li><a th:href="@{/itemList(type=10)}">청바지</a></li>
                <li><a th:href="@{/itemList(type=11)}">면바지</a></li>
                <li><a th:href="@{/itemList(type=12)}">트랙팬츠</a></li>
              </ul>
            </li>
            <li>
              <a th:href="@{/itemList(type=63)}">신발</a>
              <ul class="sub-menu">
                <li><a th:href="@{/itemList(type=13)}">러닝화</a></li>
                <li><a th:href="@{/itemList(type=14)}">스니커즈</a></li>
                <li><a th:href="@{/itemList(type=15)}">구두</a></li>
                <li><a th:href="@{/itemList(type=16)}">샌들</a></li>
                <li><a th:href="@{/itemList(type=17)}">슬리퍼</a></li>
              </ul>
            </li>
            <li>
              <a th:href="@{/itemList(type=64)}">그 외</a>
              <ul class="sub-menu">
                <li><a th:href="@{/itemList(type=18)}">양말</a></li>
                <li><a th:href="@{/itemList(type=19)}">가방</a></li>
                <li><a th:href="@{/itemList(type=20)}">악세사리</a></li>
                <li><a th:href="@{/itemList(type=21)}">모자</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a th:href="@{/itemList(type=65)}">Women</a>
          <ul class="subMenuTitle">
            <li>
              <a th:href="@{/itemList(type=66)}">상의</a>
              <ul class="sub-menu">
                <li><a th:href="@{/itemList(type=22)}">반팔</a></li>
                <li><a th:href="@{/itemList(type=23)}">긴팔</a></li>
                <li><a th:href="@{/itemList(type=24)}">맨투맨</a></li>
                <li><a th:href="@{/itemList(type=25)}">니트</a></li>
                <li><a th:href="@{/itemList(type=26)}">아우터</a></li>
              </ul>
            </li>
            <li>
              <a th:href="@{/itemList(type=67)}">하의</a>
              <ul class="sub-menu">
                <li><a th:href="@{/itemList(type=27)}">반바지</a></li>
                <li><a th:href="@{/itemList(type=28)}">슬랙스</a></li>
                <li><a th:href="@{/itemList(type=29)}">청바지</a></li>
                <li><a th:href="@{/itemList(type=30)}">면바지</a></li>
                <li><a th:href="@{/itemList(type=31)}">트랙팬츠</a></li>
              </ul>
            </li>
            <li>
              <a th:href="@{/itemList(type=68)}">신발</a>
              <ul class="sub-menu">
                <li><a th:href="@{/itemList(type=32)}">러닝화</a></li>
                <li><a th:href="@{/itemList(type=33)}">스니커즈</a></li>
                <li><a th:href="@{/itemList(type=34)}">구두</a></li>
                <li><a th:href="@{/itemList(type=35)}">샌들</a></li>
                <li><a th:href="@{/itemList(type=36)}">슬리퍼</a></li>
              </ul>
            </li>
            <li>
              <a th:href="@{/itemList(type=69)}">그 외</a>
              <ul class="sub-menu">
                <li><a th:href="@{/itemList(type=37)}">양말</a></li>
                <li><a th:href="@{/itemList(type=38)}">가방</a></li>
                <li><a th:href="@{/itemList(type=39)}">악세사리</a></li>
                <li><a th:href="@{/itemList(type=40)}">모자</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a th:href="@{/itemList(type=70)}">Kids</a>
          <ul class="subMenuTitle">
            <li>
              <a th:href="@{/itemList(type=71)}">상의</a>
              <ul class="sub-menu">
                <li><a th:href="@{/itemList(type=41)}">반팔</a></li>
                <li><a th:href="@{/itemList(type=42)}">긴팔</a></li>
                <li><a th:href="@{/itemList(type=43)}">맨투맨</a></li>
                <li><a th:href="@{/itemList(type=44)}">니트</a></li>
                <li><a th:href="@{/itemList(type=45)}">아우터</a></li>
              </ul>
            </li>
            <li>
              <a th:href="@{/itemList(type=72)}">하의</a>
              <ul class="sub-menu">
                <li><a th:href="@{/itemList(type=46)}">반바지</a></li>
                <li><a th:href="@{/itemList(type=47)}">슬랙스</a></li>
                <li><a th:href="@{/itemList(type=48)}">청바지</a></li>
                <li><a th:href="@{/itemList(type=49)}">면바지</a></li>
                <li><a th:href="@{/itemList(type=50)}">트랙팬츠</a></li>
              </ul>
            </li>
            <li>
              <a th:href="@{/itemList(type=73)}">신발</a>
              <ul class="sub-menu">
                <li><a th:href="@{/itemList(type=51)}">러닝화</a></li>
                <li><a th:href="@{/itemList(type=52)}">스니커즈</a></li>
                <li><a th:href="@{/itemList(type=53)}">구두</a></li>
                <li><a th:href="@{/itemList(type=54)}">샌들</a></li>
                <li><a th:href="@{/itemList(type=55)}">슬리퍼</a></li>
              </ul>
            </li>
            <li>
              <a th:href="@{/itemList(type=74)}">그 외</a>
              <ul class="sub-menu">
                <li><a th:href="@{/itemList(type=56)}">양말</a></li>
                <li><a th:href="@{/itemList(type=57)}">가방</a></li>
                <li><a th:href="@{/itemList(type=58)}">악세사리</a></li>
                <li><a th:href="@{/itemList(type=59)}">모자</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
          <a th:href="@{/admin/main}">관리자 페이지 이동</a>
        </li>
      </ul>
    </div>
    <div class="midRight">
      <ul id="icons">
        <th:block th:if="${#authorization.expression('isAnonymous()')}">
          <li class="login"><a th:href="@{/user/login}">로그인</a></li>
          <li class="signUp"><a th:href="@{/signUp}">회원가입</a></li>
        </th:block>

        <th:block th:if="${#authorization.expression('isAuthenticated()')}">
          <li class="logout">
            <a href="javascript:void(0);" onclick="document.getElementById('logout-form').submit();">로그아웃</a>
            <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;"></form>
          </li>
          <li class="cart"><a th:href="@{/cart}">장바구니<span>0</span></a></li>
        </th:block>
      </ul>
      <button id="searchBtn">검색</button>
    </div>
  </div>
  <div id="searchResult">
    <div id="srTop">
      <div id="searchDiv">
        <p><button id="srBtn">돋보기</button></p>
        <input type="text" name="search" id="search" />
        <button id="clear">지우기</button>
      </div>
    </div>
    <div id="srMid">
      <p>인기 검색어</p>
      <ul>
        <li><button>상품1</button></li>
        <li><button>상품12</button></li>
        <li><button>상품123</button></li>
        <li><button>상품1234</button></li>
        <li><button>상품12345</button></li>
      </ul>
    </div>
  </div>
</div>
</html>