<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link rel="stylesheet" th:href="@{/user/css/base.css}" />
  <link rel="stylesheet" th:href="@{/user/css/userLog/signUp.css}" />
</head>

<div id="signUp" layout:fragment="content">
  <div class="form-container">
    <div class="form-wrapper">
      <h1 class="form-title">회원가입</h1>

      <form th:action="@{/signUp}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

        <div class="form-group">
          <label for="user-id">아이디</label>
          <div class="input-with-button">
            <input type="text" id="user-id" name="id" placeholder="아이디 입력 (6~20자)" required />
            <button type="button" class="btn btn-inline">중복 확인</button>
          </div>
        </div>

        <div class="form-group">
          <label for="user-password">비밀번호</label>
          <input type="password" id="user-password" name="pw" placeholder="8~20자, 특수문자 포함" required />
        </div>

        <div class="form-group">
          <label for="user-password-confirm">비밀번호 확인</label>
          <input type="password" id="user-password-confirm" placeholder="비밀번호 재입력" required />
        </div>

        <div class="form-group">
          <label for="user-name">이름</label>
          <input type="text" id="user-name" name="name" placeholder="이름을 입력해주세요." required />
        </div>

        <div class="form-group">
          <label for="user-phone">전화번호</label>
          <input type="tel" id="user-phone" name="phone" placeholder="'-' 제외 11자리" required />
        </div>

<!--        <div class="form-group">-->
<!--          <label for="user-address">주소</label>-->
<!--          <input type="text" id="user-address" name="address" placeholder="주소를 입력해주세요." required />-->
<!--        </div>-->

        <div class="form-group">
          <label for="postcode">주소</label>
          <div class="input-with-button">
            <input type="text" id="postcode" placeholder="우편번호" readonly />
            <button type="button" class="btn btn-inline" onclick="execDaumPostcode()">주소 찾기</button>
          </div>
          <input type="text" id="address" placeholder="기본 주소" readonly style="margin-top: 5px;" />
          <input type="text" id="detailAddress" placeholder="상세 주소 입력" style="margin-top: 5px;" />
        </div>

        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

        <div class="form-group">
          <label for="user-email-id">이메일 주소</label>
          <div class="email-group">
            <input type="text" id="user-email-id" required />
            <span class="email-at">@</span>
            <input type="text" id="user-email-domain" required />
          </div>
        </div>

        <div class="form-group">
          <label for="user-birthdate">생년월일</label>
          <input type="text" id="user-birthdate" name="birth" placeholder="예: 1998-09-24" />
        </div>

        <div class="form-group">
          <label>성별</label>
          <div class="radio-group">
            <p>
            <input type="radio" id="male" name="gender" value="MALE" checked />
            <label for="male">남</label>
            </p>
            <p>
            <input type="radio" id="female" name="gender" value="FEMALE" />
            <label for="female">여</label>
            </p>
          </div>
        </div>

        <div class="button-group">
          <button type="submit" class="btn btn-primary">가입하기</button>
          <button type="button" class="btn btn-secondary" onclick="location.href='/'">가입취소</button>
        </div>
      </form>
    </div>
  </div>

  <script th:src="@{/user/js/userLog/signUp.js}"></script>
</div>
</html>