<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultreq.net.nz/thymleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link rel="stylesheet" th:href="@{/user/css/base.css}">
  <link rel="stylesheet" th:href="@{/user/css/production/detail.css}">
</head>

<div id="detail" layout:fragment="content">
  <div id="big-Title">
    <div class="top-Side">
      <div class="left-column">
        <div class="left-image" id="main-product-image">
          <img th:src="${item.itemUrl}" th:alt="${item.itemName}" style="width:100%; height:100%; object-fit:cover;">
        </div>

        <div class="left-tabs">
          <div class="tabs">
            <button class="tab active" data-tab="info">정보</button>
            <button class="tab" data-tab="size">사이즈</button>
            <button class="tab" data-tab="recommend">추천</button>
            <button class="tab" data-tab="review">후기</button>
          </div>
          <div class="tab-panels">
            <div class="tab-panel active" id="info">
              <div class="info-accordion">
                <div class="acc-item">
                  <button class="acc-head open">상품상세</button>
                  <div class="acc-body open">
<!--                    <p th:utext="">상세 설명</p>-->
                    <ul>
                      <li><strong>브랜드:</strong> <span th:text="${item.itemBrand}">브랜드</span></li>
                      <li><strong>가격:</strong> <span th:text="${item.itemPrice} + '원'">0원</span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-panel" id="size">
              <table class="size-table">
              </table>
            </div>
          </div>
        </div>
      </div>
    <form>
      <div class="right-Side">
        <p class="text-Title">즉시 구매가</p>
        <p class="price" th:text="'가격 : ' + ${item.itemPrice} + '원'">가격</p>
        <p class="brand-name" th:text="'브랜드명 : ' + ${item.itemBrand}">브랜드명</p>
        <p class="brand-hagul" th:text="'상품명 : '+${item.itemName}">한글 상품명</p>

        <div class="Rating">
<!--          <p class="number" th:text="">4.8</p>-->
<!--          <p class="review" th:text="">리뷰 0</p>-->
        </div>

        <div class="color">
          <button class="color-option" th:style="'background-color:'"></button>
        </div>

        <div class="Buy-Cart">
          <button type="submit" class="Buy">장바구니</button>
          <button class="Cart">구매</button>
        </div>
      </div>
        </form>
    </div>
  </div>
<!-- 하단 추가 정보는 정보 탭으로 이동했으므로 하단 섹션 제거 -->
<script th:src="@{/user/js/production/detail.js}"></script>
<script th:src="@{/user/js/common.js}"></script>
</div>

</html>