<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>detail page</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/commen.css">
  <link rel="stylesheet" href="../css/production/detail.css">
</head>

<body>
  <header id="header"></header>
  <div id="big-Title">
    
    <div class="top-Side">
      <div class="left-image" id="main-product-image"></div>
      <div class="right-Side">
        <p class="text-Title">즉시 구매가</p>
        <p class="price" id="product-price">80,000원</p>
        <p class="brand-name" id="product-name-english">Stussy World Tour T-Shirt Black 2024,2025</p>
        <p class="brand-hagul" id="product-name-korean">스투시 월드투어 티셔츠 블랙 2024,2025</p>
        <div class="Rating">
          <p class="icon"></p>
          <p class="number">4.8</p>
          <p class="review">리뷰 834</p>
        </div>
        <div class="size-Bar">
          <p class="sizeText">모든사이즈</p>
          <button class="size-icon"></button>
        </div>
        <div class="size-options" style="display: none;">
          <ul>
            <li><button data-size="S">S</button></li>
            <li><button data-size="M">M</button></li>
            <li><button data-size="L">L</button></li>
            <li><button data-size="XL">XL</button></li>
            <li><button data-size="XXL">XXL</button></li>
          </ul>
        </div>
        <p class="color-text">색상</p>
        <div class="color" id="product-colors">
          <button class="red"><a href=""></a></button>
          <button class="blue"><a href=""></a></button>
          <button class="Black"><a href=""></a></button>
        </div>
        <div class="Buy-Cart">
          <button class="Buy">장바구니</button>
          <button class="Cart">구매</button>
        </div>
        <div class="cloth-container">
          <div class="cloth">
          </div>
        </div>
        <div class="scroll">
          <button class="scroll-icon1"></button>
          <p class="dot active"></p>
          <p class="dot"></p>
          <p class="dot"></p>
          <p class="dot"></p>
          <button class="scroll-icon2"></button>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-Side">
    <div class="bottom-image-container" id="bottom-image-dynamic-container">
    </div>
    <ul class="bottom-Sidetext">
      <p class="impor">추가 정보</p>
      <li id="product-info-notice">상품정보제공고시</li>
      <li id="product-info-detail"></li><li>제조연월: 수입제품으로 각 제품별 입고 시기에 따라 상이하여 정확한 제조연월 제공이 <br> 어렵습니다.<br>제조연월을 확인하시려면 고객센터에 문의하시기 바라며,<br>정확한 제조연월은
        배송받으신 제품의 라벨을 참고하시기 바랍니다.</li>
      <li>A/S 책임자와 전화번호: (유)QWER코리아 온라인 스토어 고객센터 / 080-022-0182</li>
      <li>세탁방법 및 취급시 주의사항: 자세한 내용은 '자세히 보기'를 클릭하여 확인 부탁드립니다.</li>
      <li>미성년자 권리 보호 안내: 자세한 내용은 '자세히 보기' 를 클릭하여 확인 부탁드립니다.</li>
      <li>품질보증기준: 품질보증기간-섬유 및 일반 소재(구입 후 6개월), 가죽소재(구입 후 1년).<br>유통 중 손상되었거나 품질에 이상이 있는 제품에 한하여 소비자 피해 보상 규정에 의거 <br>
        보상하여 드립니다.<br>단, 제품에 부착되어 있는 사용방법 및 취급 시 주의사항에 따라 제품을 관리해 주시고,<br>소비자 부주의로 인한 품질 이상 및 변형에 대해서는 책임을 지지 않습니다.
      </li>
      <li>제조자/수입품의 경우 수입자를 함께 표기: Nike. Inc / (유)QWER</li>
    </ul>
    </div>
    
  </div>
  <footer id="footer"></footer>
  <script src="/userUI/js/production/detail.js"></script>
  <script src="../js/common.js"></script>
</body>

</html>