<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.qwershop.admin.codeManagement.mapper.CodeMapper">

    <select id="selectGroupCodeList" resultType="groupCodeDto">
        SELECT
            group_code,
            group_name,
            note,
            sort_order,
            use_yn
        FROM group_code
        WHERE use_yn = 'Y'
        ORDER BY sort_order
    </select>

    <select id="selectDetailCodeList" resultType="detailCodeDto">
        SELECT
            group_id,
            group_code,
            code_name,
            sort_order,
            use_yn
        FROM detail_code
        WHERE group_code = #{groupCode}
        ORDER BY sort_order
    </select>

    <update id="updateDetailUseYn" parameterType="detailCodeDto">
        UPDATE detail_code
        SET use_yn = #{useYn}
        WHERE group_id = #{groupId}
    </update>
</mapper>