<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.qwershop.admin.itemManagement.mapper.ItemManagerMapper">

    <select id="findAllItems" resultType="com.example.qwershop.admin.itemManagement.dto.ItemManagerDto">
        SELECT i.item_id as itemId,
               i.item_name as itemName,
               i.item_brand as itemBrand,
               i.item_price as itemPrice,
               i.item_stock as itemStock,
               i.item_category as dbCategory,
               i.item_type as dbType,
               i.reg_time as regTime,
               (SELECT item_url FROM item_img WHERE item_id = i.item_id LIMIT 1) as itemUrl
        FROM item i
        ORDER BY i.item_id DESC
    </select>

    <insert id="insertItem" useGeneratedKeys="true" keyProperty="itemId">
        INSERT INTO item (
            item_name, item_brand, item_price, item_stock,
            item_category, item_type, reg_time
        )
        VALUES (
                   #{itemName}, #{itemBrand}, #{itemPrice}, #{itemStock},
                   #{dbCategory}, #{dbType}, NOW()
               )
    </insert>

    <update id="updateItem">
        UPDATE item SET
                        item_name = #{itemName},
                        item_brand = #{itemBrand},
                        item_price = #{itemPrice},
                        item_stock = #{itemStock},
                        item_category = #{dbCategory},
                        item_type = #{dbType}
        WHERE item_id = #{itemId}
    </update>

    <delete id="deleteItemImages">
        DELETE FROM item_img WHERE item_id = #{itemId}
    </delete>

    <insert id="insertItemImage">
        INSERT INTO item_img (
            item_id,
            item_url,
            img_name,
            origin_name,
            is_main,
            reg_time
        )
        VALUES (
                   #{itemId},
                   CONCAT('/user/posting/', #{fileName}),
                   #{fileName},
                   #{fileName},
                   #{isMain},
                   NOW()
               )
    </insert>


    <delete id="deleteItem">
        DELETE FROM item WHERE item_id = #{itemId}
    </delete>

</mapper>