<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.qwershop.user.member.mapper.MemberMapper">

    <insert id="insertMember" parameterType="com.example.qwershop.user.member.dto.MemberDto">
        INSERT INTO member (id, pw, name, phone, email, address, gender, birth, status)
        VALUES (#{id}, #{pw}, #{name}, #{phone}, #{email}, #{address},#{gender}, #{birth}, 'USER')
    </insert>

    <select id="overlapId" resultType="com.example.qwershop.user.member.dto.MemberDto">
        SELECT * FROM member WHERE id = #{id}
    </select>

    <select id="loginMember" resultType="com.example.qwershop.user.member.dto.MemberDto">
        SELECT * FROM member WHERE id = #{id}
    </select>


    <select id="findMemberIdById" resultType="long">
        SELECT member_id
        FROM member
        WHERE id = #{id}
    </select>

    <select id="findByPhone" resultType="com.example.qwershop.user.member.dto.MemberDto">
        SELECT * FROM member WHERE phone = #{phone}
    </select>

    <select id="selectMemberId" resultType="int">
        SELECT member_id
        FROM   member
        WHERE  email = #{email}  </select>

    <update id="updateMember" parameterType="com.example.qwershop.user.member.dto.MemberDto">
        UPDATE member
        SET
            name = #{name},
            pw = #{pw},
            phone = #{phone},
            email = #{email},
            address = #{address},
            gender = #{gender},
            birth = #{birth},
            update_Time = NOW()  WHERE id = #{id}        </update>

    <select id="findByNameAndPhone" resultType="com.example.qwershop.user.member.dto.MemberDto">
        SELECT * FROM member WHERE name = #{name} AND phone = #{phone}
    </select>

</mapper>