<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.qwershop.user.member.mapper.MemberMapper">

    <insert id="insertMember" parameterType="com.example.qwershop.user.member.dto.MemberDto">
        INSERT INTO member (id, pw, name, phone, email, address, gender, birth, status)
        VALUES (#{id}, #{pw}, #{name}, #{phone}, #{email}, #{address},#{gender}, #{birth}, 'USER')
    </insert>

    <select id="overlapId" resultType="com.example.qwershop.user.member.dto.MemberDto">
        SELECT * FROM member WHERE id = #{id}
    </select>

    <select id="loginMember" resultType="com.example.qwershop.user.member.dto.MemberDto">
        SELECT * FROM member WHERE id = #{id}
    </select>

    <select id="findMemberId" resultType="long">
        SELECT member_id FROM member WHERE id = #{id}
    </select>

    <select id="selectMemberId" resultType="int">
        SELECT member_id
        FROM   member
        WHERE  email = #{email}  </select>
</mapper>