<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.qwershop.admin.usermanagement.mapper.UserManagerMapper">

    <select id="getAllUsers" resultType="selectUserDto">
        SELECT 
            member_id, id, pw, name, phone, email, address, gender, birth, status, req_time
        FROM member
    </select>

    <select id="getUserById" parameterType="String" resultType="memberDto" >
        SELECT 
            member_id, id, pw, name, phone, email, address, gender, birth, status
        FROM member 
        WHERE id = #{id}
    </select>

</mapper>
